/*.table {
    width: 330px;
    overflow: auto;
    border-collapse: collapse; width:300px; 
    padding: 5px; border: solid 1px #777;
    background-color: lightblue; }
*/
.table {
   width: 100%;
  }
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
  }